<div class="container-modal" *ngIf="selectedUser.id">
    <div class="header">
        <h2>Pagamento para <span> {{selectedUser.name}}</span> </h2>
        <div class="button-close" (click)="closeModal()">
            X
        </div>
    </div>
    <div class="contant-modal">
        <input placeholder="R$ 0,00" name="valueTransaction" [(ngModel)]="vt"/>
        <select name="cardSelect" id="cardSelect" [(ngModel)]="cardSelect">
            <option *ngFor="let card of cards" [ngValue]="card.card_number">
                Cartão com final {{card.card_number | showLastDigits}}
            </option>
        </select>
        <button (click)="makeTransaction()">Pagar</button>
    </div>
</div>
